/* CSS Style Sheet */

body {background-image: url("../images/offwhitewall.jpg");}
				

#container {width: 1000px;
			height: 100%;
			position: relative;
			margin: auto;
						}
			
			
/* LOADING SCREEN */
			

							
.loadingScreen {width: 1000px;
				height: 500px;
				top: 50%;
				background-image: url("../images/offwhitewall.jpg");
				position: absolute;
				animation-name: loading;
				animation-duration: 5s;
				animation-delay: 2s;
				animation-fill-mode: forwards;
				z-index: 1000;
				opacity: 1;
					}


					
@keyframes loading{0% {opacity: 1;}
					100%{opacity: 0;}
					}
			

/* WELCOME SCREEN */			
			
#welcomeScreen{width: 1000px;
				height:500px;
				z-index: 500;
				background-image: url("../images/offwhitewall.jpg");
				position: absolute;	
				transition-property: transform;
				transition-duration: 2s;							
				}

		
.enter {transform: translateY(-1500px);}

#welcomebutton{position: relative;
				top: 50%;
				left: 50%;}
				
#hidding {overflow:hidden;			
		width: 1000px;
		height:505px;
		top:50%;
		/*z-index: 500;*/
		position: absolute;	
				}
		

/* MAIN SCREEN*/	
	
#mainScreen {width: 1000px;
			height: 500px;
			top:50%;
			margin-top: -250px;
			background-image: url("../images/corkboard3.png");
			z-index: 250;
			position: relative;
			}
							
#topleft{width: 200px;
			height: 420px;
			left: 50px;
			top: 40px;
			position: absolute;
			float: left;
			background: linear-gradient( black, grey, white);
			opacity: 0.2;
			transition-property: opacity;
			transition-duration: 2s;
			transition-timing-function: ease-in-out;
			}
			
#topleft:hover{opacity: 1;	
				background: linear-gradient(red, orange, yellow, green, blue, indigo, violet);
}

		
#topmiddle{width: 200px;
			height: 200px;
			left: 280px;
			top: 40px;
			position: absolute;
			float: left;
			background-color: green;
			}
			
#topmiddle2{width: 200px;
			height: 200px;
			left: 520px;
			top: 40px;
			position: absolute;
			float: left;
			background-color: blue;
			}

#topright{width: 200px;
			height: 200px;
			left: 750px;
			top: 40px;
			position: absolute;
			float: left;
			background-color: red;
			}
			
			
			
			
#bottommiddle{width: 200px;
			height: 200px;
			left: 280px;
			top: 260px;
			position: absolute;
			float: left;
			background-color: pink;
			}
			
#bottommiddle2{width: 430px;
			height: 200px;
			left: 520px;
			top: 260px;
			position: absolute;
			float: left;
			background-color: orange;
			}


				